################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/pdv/.vs/pdv/v15/Server/sqlite3
