@model pdvInfraestrutura.Model.Carrinho

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>Carrinho</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="DataAbertura" class="control-label"></label>
                <input asp-for="DataAbertura" class="form-control" />
                <span asp-validation-for="DataAbertura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoginUsuarioAbertura" class="control-label"></label>
                <input asp-for="LoginUsuarioAbertura" class="form-control" />
                <span asp-validation-for="LoginUsuarioAbertura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataFechamento" class="control-label"></label>
                <input asp-for="DataFechamento" class="form-control" />
                <span asp-validation-for="DataFechamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoginUsuarioFechamento" class="control-label"></label>
                <input asp-for="LoginUsuarioFechamento" class="form-control" />
                <span asp-validation-for="LoginUsuarioFechamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
